PORT=9000
MONGODB_URI=mongodb://localhost:27017/iot-telemetry

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# MQTT Configuration
MQTT_HOST=9bc811871bbb400281764a67bbfc77b9.s1.eu.hivemq.cloud
MQTT_PORT=8883
MQTT_USERNAME=your_mqtt_username
MQTT_PASSWORD=your_mqtt_password
MQTT_CLIENT_ID=nestjs-mqtt-client
